*
{
    margin:0;
    padding:0;
}

/* header section */
.head
{
 background:fixed;
 position: fixed;
 background-color: seashell;

}
.head h1{
    color:red;
    margin-top:0px;

}
/* login container section*/
.container
{
    background-color: rgb(100,149,237);
    align-items:center;
  top: 20%;
  left:30%;
  position: absolute;
    border-radius:10px;
    width:420px;
    height:400px;

    
}
.container h1
{
    font-size: 32px;
    font-family:sans-serif;
    margin-top:5px;
    align-items:center;
    margin-left:30%;
    margin-bottom:10px;

}
.container .line{
   
    height:2px;
    margin-left:10px;
    margin-right:10px;
  
    background-color: black;
}
.form-container
{
    background-color: rgb(72,61,139);
    align-items:center;
 
    margin-top:40px;
    margin-left:7px;
    margin-right: 7px;
  
    border-radius:10px;
    height:110px;
    padding:2px;

}
.form-container  input{

    display: flex;
    padding:8px;
    height:15%;
  
    margin-top :3%;
    margin-left :2%;
    margin-bottom:3%;
    width:90%;
    border-radius:15px;
    font-size: 16px;
    font-family: sans-serif;
}
    
.container .forgetpass
{
    font-size: 18px;
    font-weight: 2px;
    font-family:sans-serif;
    margin-top:5px;
    align-items:center;
    margin-left:30%;
    margin-bottom:10px;


}
.button {
  background-color:rgb(34, 59, 53);
  border: none;
  color: white;
 
  padding: 10px 40px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-top:10%;
  margin-left:30%;
 text-align: left;
  cursor: pointer;
  border-radius: 15px;
}
.button img{
    width:20px;
    height:18px;
    margin-left:12px;
}

/* footer */
.footer{
 background-color:slateblue;
}

/* responsive design*/
@media only screen and (max-width:600px)
{
    .container
{
    background-color: rgb(170, 149, 189);
    align-items:center;
  top: 20%;
  left:15%;
  position: absolute;
    border-radius:10px;
    width:400px;
    height:380px;

    
}
    
}
